body{
    width: 512px;
}
.contenitore{
    width: 512px;
    padding: 1x;
    border: px ;
}
.card{
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 5%;
    margin: 10px;
}
hr {
  border: none;
  height: 5px;
  background-color: black; 
}